{{- if .Values.alertmanager.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-alertmanager-config
data:
  alertmanager.yml: |
    global:
      telegram_api_url: https://api.telegram.org

    route:
      group_by: ['alertname']
      group_wait: 10s
      group_interval: 10s
      repeat_interval: 1h
      receiver: 'telegram-notifications'

    receivers:
      - name: 'telegram-notifications'
        telegram_configs:
          - bot_token: 'example'
            chat_id: example
            parse_mode: 'HTML'
            message: '{{ "{{" }} range .Alerts }}<b>{{ "{{" }} .Status }}:</b> {{ "{{" }} .Annotations.summary }}{{ "{{" }} end }}'
{{- end }}
