{{- if .Values.nodeExporter.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-node-exporter-service
spec:
  selector:
    app: node-exporter
  ports:
  - port: 9100
    targetPort: 9100
{{- end }}
