---
- name: Install Helm
  shell: |
    curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
  args:
    creates: /usr/local/bin/helm

- name: Add Cilium Helm repo
  kubernetes.core.helm_repository:
    name: cilium
    repo_url: "https://helm.cilium.io/"

- name: Install Cilium via Helm
  kubernetes.core.helm:
    name: cilium
    chart_ref: cilium/cilium
    release_namespace: kube-system
    chart_version: 1.15.5
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    values:
      kubeProxyReplacement: true # Фикс для новых версий
      k8sServiceHost: "127.0.0.1" # Фикс для связи агента с сервером
      k8sServicePort: 6443
      ipam:
        mode: cluster-pool
        operator:
          clusterPoolIPv4PodCIDRList: ["10.42.0.0/16"]
      operator:
        replicas: 1
      cgroup:
        autoMount:
          enabled: false
        hostRoot: /sys/fs/cgroup
